@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap");

/*
CSS reset

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #08021a;
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: auto !important;
}

.landing-details {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.landing-headers {
  font-size: 40px;
  font-weight: 500;
}
.landing-header-gradient {
  background: linear-gradient(to right, #fc0db9 5%, white 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.statement p {
  color: #ffe9e9;
  line-height: 21px;
}
.statement {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.statement-buttons {
  display: flex;
  gap: 86px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.burger-menu {
  display: none;
}
.responsive-nav-items {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.company-name {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.company-b {
  color: #c61ed4;
}
.navigation-items {
  display: flex;
  gap: 16px;
}

.social-handles {
  display: flex;
  gap: 20px;
}
.footer-list a {
  text-decoration: none;
  color: #d3d3d3;
  font-weight: medium;
}
.footer-list a:hover {
  color: #e2d3fa;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  background-image: url("./assets/main_background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 135px;
  padding-right: 62px;
}

.tradebot-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 38px;
  gap: 30px;
}
.tradebot-cards-two {
  display: flex;
  gap: 30px;
}

.tradebot-card {
  min-height: 205px;
  display: flex;
  width: 292px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0.25px 0px 0px rgba(255, 255, 255, 0.5) inset,
    0px -1px 20px 0px rgba(187, 155, 255, 0.15),
    0px -1px 5px 0px rgba(233, 223, 255, 0.3);
}
.tradebot-card p {
  font-size: 12px;
  line-height: 18px;
}
.tradebot-card h3 {
  font-size: 20px;
  font-weight: 500px;
  line-height: 26px;
}

.coming-soon {
  font-size: 8px;
  text-decoration: underline;
}

.primary-btn {
  background: linear-gradient(94.52deg, #9156f2 0%, #c61ed4 82.22%);
  font-weight: 600;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
.primary-btn:hover {
  background: linear-gradient(94.52deg, #c61ed4 0%, #c61ed4 82.22%);
}

.tradebot-plan-section {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  gap: 36px;
}

.tradebot-plan {
  padding-top: 200px;
}

.tradebot-plan-section h3 {
  font-size: 24px;
  font-weight: 600;
}

.section-header {
  font-size: 24px;
  font-weight: 600;
}

.phase-glow {
  text-align: center;
  text-shadow: -8px 4px 74px rgba(177, 48, 255, 0.81), 10px 4px 59px #ec17bd;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  background: var(--Linear, linear-gradient(95deg, #9156f2 0%, #c61ed4 82.22%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  background-color: #bb45ff2d;
  border-radius: 30px;
  box-shadow: 0 0 20px 20px #bb45ff2d;
}
.phase-details {
  display: flex;
  padding-left: 135px;
  align-items: center;
  gap: 90px;
}

.phase-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.phase-plan p {
  font-size: 16px;
  font-weight: 600;
}

.plan-details-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.plan-details {
  width: 449px;
  display: flex;
  padding: 17px 24px 37px 46px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  border: 1px solid #9156f2;
}
.plan-details p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-list {
  display: flex;
  gap: 13px;
  align-items: center;
}
.info-list {
  align-items: start;
}

.info-pointer {
  width: 23px;
  height: 19px;
  flex-shrink: 0;
  background: linear-gradient(95deg, #9156f2 0%, #c61ed4 82.22%);
}

.info-list p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.info-cat {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.plan-side-images {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-right: 62px;
}

.circular-rod-img {
  padding-left: 60px;
  margin-top: -50px;
}

.radial-gradient-background {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(13, 4, 41, 0.2) 0%,
      rgba(39, 13, 115, 0.2) 52.4%,
      rgba(48, 27, 111, 0.2) 52.41%,
      rgba(5, 2, 14, 0.2) 96.4%
    ),
    linear-gradient(180deg, #0e042c 46.5%, #0a0320 54.5%, #0f042d 67%);
}

.trade-perfected-section {
  padding-top: 200px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.trade-perfected-section p {
  text-align: center;
  font-size: 12px;
  line-height: normal;
}
.perfected-items {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 84px;
}
.perfected-items-twos {
  display: flex;
  gap: 84px;
}
.perfected-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tokenomics-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 200px;
}
.tokenomics-info {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tokenomics-info p {
  font-size: 12px;
  line-height: 18px;
}
.tokenomics-info h2 {
  font-size: 16px;
  font-weight: 500;
}
.tokenomics-list-item {
  display: flex;
  gap: 16px;
  line-height: 14px;
}

.tokenomics-glow {
  font-size: 20px;
  font-weight: 500;
}

.tokenomics-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.token-distribution-section {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.distribution-details {
  padding-bottom: 40px;
  width: 853px;
  height: 429px;
  background-color: #090222;
  border: rgba(177, 48, 255, 0.81) 10px solid;
  border-radius: 24px;
  flex-shrink: 0;
  stroke-width: 10px;
  stroke: var(--Linear, #9156f2);
  filter: drop-shadow(-8px 4px 20px rgba(176, 48, 255, 0.411))
    drop-shadow(10px 4px 59px rgba(238, 9, 188, 0.11));
}

.chart-container {
  position: relative;
  width: fit-content;
}
.chart-logo {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-logo img {
  padding-left: 16px;
  padding-bottom: 10px;
}
.top-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 281px;
  padding-right: 41px;
}
.top-details p {
  font-size: 12px;
  line-height: 12px;
  text-align: start;
}
.breakdown-item {
  display: flex;
  align-items: center;
  gap: 11px;
}
.chart-breakdown {
  display: flex;
  padding-left: 116px;
  gap: 60px;
}
.first-breakdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  padding-left: 135px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 100px;
}
.footer-top {
  display: flex;
  align-items: start;
  gap: 80px;
}
.footer-top-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-list {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #9b9aa2;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-down {
  display: flex;
  justify-content: space-between;
}
.footer-down p {
  width: 445px;
  font-size: 14px;
  line-height: 21px;
}

.roadmap-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 200px;
}
.roadmap-section p {
  font-size: 12px;
  text-align: center;
  width: 400px;
}

.frame {
  position: relative;
  margin-top: 40px;
}
.polygon-1 {
  position: absolute;
  left: 30%;
  top: -35px;
}
.polygon-2 {
  position: absolute;
  left: 33%;
  top: -45px;
}
.frame-pointer {
  position: absolute;
  top: -6px;
  left: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-contents {
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  display: flex;

  padding: 13px 51px 13px 52px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  background: linear-gradient(95deg, #53289b 0%, #4c1874 82.22%);
}

.content-below {
  width: 152px;
  height: 21px;
  flex-shrink: 0;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(
    95deg,
    rgba(146, 109, 205, 0.12) 0%,
    rgba(198, 30, 212, 0.23) 82.22%
  );
}

.frame-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.frame-content-container {
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.frames {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

.frames-connector {
  position: absolute;
  top: 24%;
  left: 34.8%;
  z-index: -1;
}
.frames-diamond {
  position: absolute;
  left: 20%;
  bottom: 70px;
}
.frames-floating-triangle {
  position: absolute;
  right: 12%;
  bottom: 20%;
}
.frames-circular-rod {
  position: absolute;
  right: 12%;
  top: -24%;
}
.frames-btn {
  margin-top: 20px;
  font-size: 24px;
  padding: 7px 22px;
}

.frames-top {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 400px;
}

.footer-down-first {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.top-items-first {
  display: flex;
  gap: 80px;
}

.responsive-nav-items {
  display: none;
}

.minimal-white {
  color: #bebaba;
  line-height: 15px;
}
.minimal-white2 {
  color: #bebaba;
  line-height: 15px;
  text-align: justify;
}

.landing-image {
  animation: bounce 2.5s ease-out infinite;
}
@keyframes bounce {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.plan-cat {
  animation: bounce 2.5s ease-out infinite;
}

.circular-rod-img {
  animation: bounce 2.5s ease-out infinite;
}
.tokenomics-bot {
  animation: bounce 2.5s ease-out infinite;
}

a.navigation-item {
  text-decoration: none;
  color: white;
}

.navigation-item:hover {
  cursor: pointer;
}

a{
  text-decoration: none ;
  color: inherit;
}
